
@{
    ViewBag.Title = "Index";
}

<h2>Client</h2>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("View All Clients", "ViewAll")</li>
    <li class="list-group-item">@Html.ActionLink("Create new Client", "Add")</li>
</ul>
