
@{
    ViewBag.Title = "Index";
}

<h2>Booking</h2>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("View All Bookings", "ViewAll")</li>
    <li class="list-group-item">@Html.ActionLink("Create new Booking", "Add")</li>
    <li class="list-group-item">@Html.ActionLink("Check total Gane for a Month", "Gain")</li>
</ul>